body {
  background: #d4d793;
  scroll-behavior: smooth;
  margin: 0 auto;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background: #8db1e8;
  padding: 15px 0;
  text-align: center;
}

.navbar-brand {
  font-family: "Anton";
  font-weight: 400;
  font-size: 38px;
  line-height: 10px;
  color: #ffffff;
  margin: 0 55px;
}

.nav-link {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  margin: auto 10px;
  color: #ffffff;
}

.hero {
  background-image: linear-gradient(
      rgba(141, 177, 232, 0.64),
      rgba(141, 177, 232, 0.64)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/151/original/hero-pic.jpg?1721769956");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 180px 0 360px 0;
  width: 100%;
}
.hero-text {
  display: inline-flexbox;
}

h2 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 167px;
  text-align: center;
  color: #ffffff;

  line-height: 0.8;
}

h1 {
  font-family: "Anton";
  font-weight: 400;
  font-size: 128px;
  text-align: center;
  color: #ffffff;

  text-shadow: rgba(212, 215, 147, 0.53) 15px 15px;
}
